body
{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.orange
{
    color:darkgoldenrod;
}
.flexible-container
{
    display:flex;
    margin-bottom: 50px;
}
.half-width 
{
  width:70%;
  text-align: justify;
  padding-left: 50px;
  margin-right: 40px;
  
  
} 
/*(ii)no problem .half-width img{
    height:500px;
} */
/*i) no problem a{
    height:50px;
    background-color: red;
} */
.link-button{
    text-decoration:none;
    background-image:linear-gradient(orange, tomato);
    font-weight: 700;
    padding:10px 20px;
   border-radius: 5px;

}
.top-banner
{
    background-image: url(developer-portfolio/images/top-banner.png);
  background-repeat: no-repeat;
    
}
.textedit
{
 text-shadow: 2px 1px red;   
}
/* .half-widths
{
    width:50%;
} */

button{
    font-size: large;
    height:50px;
    color:darkgreen;
    background-color: darkorange;
    border:solid orangered;
    border-radius: 15px;
}
.dream-big
{
    background-image: url(developer-portfolio/images/dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;
}
.boxedit
{
    box-shadow: 10px -10px 10px red, 5px -10px yellow, 0px 10px 10px gray;
    /* margin-top: 5px; */
    margin-left: 5px;
    margin-bottom: 50px;
    border-radius: 10px;
    /* padding:5px 15px 30px; */
    border-left: 7px solid;
    border-image:linear-gradient(blue,cyan);
    border-image-slice: 1;
    border-image-outset: 20px;
}
.experience-area
{
    margin-left: 20px;
    background-image: url(developer-portfolio/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 150px  550px;
    background-attachment: fixed;
    background-size:5%;
}
/* a
{
    background-color: darkgreen;
    
} */
/* .dream-big
{
    display: flex;
    justify-content: space-between;
} */
#margins
{
    margin-left: 20px;
}
/* #edit
{
    height:500px;
    width:5150px;
} */
/* .edit
{
    height: 50px;
    width: 450px;
} */