body
{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.orange
{
    color:darkgoldenrod;
}
section
{
    display:flex;
    margin-bottom: 50px;
}
.half-width 
{
  width:50%;
  text-align: justify;
  padding-left: 150px;
  margin-right: 150px;
  
  
} 
/*(ii)no problem .half-width img{
    height:500px;
} */
/*i) no problem a{
    height:50px;
    background-color: red;
} */
.link-button{
    text-decoration:none;
    background-image:linear-gradient(orange, tomato);
    font-weight: 700;
    padding:10px 20px;
   border-radius: 5px;

}
.top-banner
{
    background-image: url(developer-portfolio/images/top-banner.png);
  background-repeat: no-repeat;
    
}
/* .half-widths
{
    width:50%;
} */

button{
    font-size: large;
    height:50px;
    color:darkgreen;
    background-color: darkorange;
    border:solid orangered;
    border-radius: 15px;
}
.dream-big
{
    background-image: url(developer-portfolio/images/dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;
}
/* a
{
    background-color: darkgreen;
    
} */
/* .dream-big
{
    display: flex;
    justify-content: space-between;
} */
#margins
{
    margin-left: 20px;
}
/* #edit
{
    height:500px;
    width:5150px;
} */
/* .edit
{
    height: 50px;
    width: 450px;
} */